.food_item_header {
  background: var(--box-header-color);
  color: var(--light-text-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.foodPrice {
  color: var(--dark-price-color);
  margin-left: 5px;
}
