.news {
  margin: 1rem;
  border-top: 2px solid grey;
  padding-top: 1rem;
}

.theme_dark .news {
  color: var(--light-text-color);
}

.news h3 {
  font-weight: 800;
  font-size: 16pt;
  padding-bottom: 2rem;
  color: var(--alert-color);
}

.news p {
  padding-bottom: 1rem;
}

.news li {
  padding-bottom: 1rem;
  list-style: none;
}
