:root {
  --box-header-color: rgb(134, 9, 9);
  --price-color: rgb(143, 19, 19);
  --alert-color: rgb(194, 0, 0);
  --alert-bg-color: rgb(229, 245, 86);
}
.alert {
  color: var(--alert-color);
}

.container {
  background-color: rgb(99, 207, 166);
  display: flex;
  flex-wrap: wrap;
}

/* mobile first small*/
.info-column,
.events-column,
.drinks-column,
.food-column {
  width: 100%;
  margin: 2%;
}

/* @media (min-width: 576px) {
.info-column,
.events-column,
.drinks-column,
.food-column {
    width: 46%;
    background: rgb(238, 215, 12);
    margin: 2%;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .info-column,
  .events-column,
  .drinks-column,
  .food-column {
    width: 46%;
    background: rgb(18, 8, 155);
    margin: 2%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .info-column,
  .events-column,
  .drinks-column,
  .food-column {
    width: 30%;
    background: rgb(10, 167, 62);
    margin: 1%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .info-column,
  .events-column,
  .drinks-column,
  .food-column {
    width: 23%;
    background: rgb(81, 102, 223);
    margin: 1%;
  }
}
